# Dependencias
node_modules/

# Archivos de entorno
.env
.env.local
.env.production

# Logs
logs
*.log
npm-debug.log*

# Cobertura de pruebas
coverage/

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
dist/
build/

# Archivos temporales
*.tmp
*.temp
